<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- WCF服务端地址 -->
    <add key="WCFServiceAddress" value="http://localhost:8068"/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="200"/>
    </connectionManagement>
  </system.net>
</configuration>
