<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BasicHttp_ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxReceivedMessageSize="2147483646" maxBufferSize="2147483646">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="TestService" contract="WCFContract.ITestService"  address="http://localhost:8068/Service/TestService" behaviorConfiguration="BasicHttp_ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig" />
      <endpoint name="TestService2" contract="WCFContract.ITestService2"  address="http://localhost:8068/Service/TestService2" behaviorConfiguration="BasicHttp_ServiceBehavior" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig" />
    </client>
  </system.serviceModel>
</configuration>
