<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ServerPort" value="8068"/>
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicHttp_ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <serviceThrottling maxConcurrentCalls="2147483646"  maxConcurrentSessions="2147483646"  maxConcurrentInstances="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig" receiveTimeout="00:00:30" sendTimeout="00:00:30" maxReceivedMessageSize="2147483646" maxBufferSize="2147483646">
          <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WCFService.TestService" behaviorConfiguration="BasicHttp_ServiceBehavior" >
        <endpoint contract="WCFContract.ITestService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig" address="" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="WCFService.TestService2" behaviorConfiguration="BasicHttp_ServiceBehavior" >
        <endpoint contract="WCFContract.ITestService2" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig" address="" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>